Flask==2.0.1
mysql-connector-python==8.0.28
PyJWT
fastapi~=0.104.1
pydantic~=2.5.2
uvicorn~=0.24.0.post1
numpy~=1.26.2
pandas~=2.1.4
six~=1.16.0
numpy
seaborn
matplotlib
findspark
koalas
SQLAlchemy~=2.0.23
Flask-RESTful
Flask-Bcrypt
marshmallow
cryptography